/*
1- posicionamiento
2- Modelo de caja(Box model)
3- Tipografia
4- Temas visuales
5- Otros
*/
:root {
  /*Colores*/
  --bitcoin-orage: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #ffe9d5;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-blackplus1: #282623;
  --gray: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px; /*resolución más pequeña en los telefeonos*/
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center; /*forma de centrar un elemento que tenga un contenedor con display:flex (el contenedor es el header, acá estamos usando especificidad)*/
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center; /*para que el tamaño que queda de margen de derecha e izquierda en el texto sea igual */
}

.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem; /*esto es el tamaño del salto de linea */
  color: var(--off-white);
}

.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header--title-container .header--button {
  position: absolute; /*como es absolute nos permite mover el boton a cualquier direccion*/
  left: calc(50% - 114.5px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*sombras*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--warm-black);
}

.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container .backgroudImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("./assets/img/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
}

.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--gray);
}
